.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}
body {
    max-width: 980px;
    min-width: 580px;
    margin: auto;
}
.container nav  .navbar-brand{
    font-weight: bold;
}
.container nav a span{
    font-weight: normal;
    font-size: 15px; 
}
body .container .btn-group{
    padding-left: 0px;
    padding-right: 0px;
}
.card {
    height: 100%;
}
a {
    color: #6c757d;
    text-decoration: none;
}
a:hover {
    color: #212529;
    text-decoration: none;
}

/* Footer start*/
footer .icon-sites a{
    text-decoration: none;  
    color: #2c2e30;
    font-weight: bold;
    font-size: 50px;
} 
footer li a, footer li a:hover{
    text-decoration: none;   
    color: #212529; 
}
footer li a:hover{
    text-decoration: none;   
    color: #212529;
    font-weight: 600; 
}
#other_sites img{
    height: 50px;
}
.container footer {
    background-color:  rgb(248, 249, 250);
    padding-left: 0;
    padding-right: 0;
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
}
@media(min-width:550px){
    footer{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
}
@media(min-width:650px){
    footer{
        vertical-align: middle;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr; 
    }
}
footer li, footer div.icon-sites{
    list-style: none;
    padding: 5px;
}
footer div.icon-sites, #footer_menu, #footer_contacts{
    padding: 7px;
}
/* Footer end*/
/* Card button*/

.btn-primary {
    background-color: #828486;
    border-color: #828486;
}
.btn-primary:hover {
    background-color: #424344;
    border-color: #424344;

}
.btn-info {
    color: #fff;
    background-color: #e89d1d;
    border-color: #e89d1d;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
    background-color: #bb8324;
    border-color: #bb8324;
}
/* Card button*/
.about-us {
    background-color: #f8f9fa;

}
.about-us p {
    text-align: justify;
    background-color: #f8f9fa;

}
