body {
    max-width: 980px;
    min-width: 380px;
    margin: auto;
}
.container nav  .navbar-brand{
    font-weight: bold;
}
.container nav a span{
    font-weight: normal;

    font-size: 15px;
    
}
body .container .btn-group{
    padding-left: 0px;
    padding-right: 0px;
}